.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3vw;
  padding-right: 0vw;
  margin-right: 0vw;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15svw;
  margin-right: 15svw;
}

.description {
  padding-left: 2.5vw;
  font-size: 18pt;
  padding-right: 0vw;
}

.title {
  font-family: 'Dolce Vita';
  font-size: 36pt;
}

@media only screen and (max-width: 300px) {
  #lbp-text-body {
    display: flex;
    flex-direction: column;
  }
}