.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testButton {
  display: inline-block;
  background-color: lightgray;
  padding: 16px 32px;
  color: #000000;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 1.5vw;
  opacity: calc(.7);
}

.testButton:hover {
  background-color: darkgray;
  text-decoration: none;
}
  
.ModalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 8svw;
}

.title {
  font-family: 'Dolce Vita';
  font-size: 36pt;
}